<div class="detalleRestaurante">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="wrapper">
            <div class="heroe"></div>
            <div class="datosPrincipales">
              <div class="logo">
                <img src="https://pbs.twimg.com/profile_images/986619258766585856/tVwJXy6I_400x400.jpg">
              </div>
              <h3>Nombre del restaurante</h3>
            </div> 
    
            <img src="" class="rating">
    
            <p>Descripción un poco más detallada del restaurante. Aquí puedes venderte un pocquito y mostrar lo maravillosamente gluten-free que eres. No sé qué tan largo será este texto, pero espero que lo suficiente para que la maquetación me quede reshulona. Por podir que no quede, oye.</p>
    
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.393470788528!2d-3.716205984937563!3d40.422285463226096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287019637667%3A0x43c73c98786f8be0!2sPlaza+de+Espa%C3%B1a%2C+11%2C+28008+Madrid!5e0!3m2!1ses!2ses!4v1534865680710" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>
</div>