*{
    padding:0;
    margin:0;
}

.detalleRestaurante{
    padding: 20px 80px;
}

.wrapper{
    background-color: #F4F4F4;
    border-radius: 3px;
}

.heroe{
    height: 200px;
    background-image: url('https://images.unsplash.com/photo-1483908697361-99cdc9d6f13d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1fad2eacea7cafe2392a95aeb5f3861a&auto=format&fit=crop&w=2550&q=80');
    background-size: cover;
    border-radius: 3px 3px 0 0;
}

.datosPrincipales .logo img{
    width: 150px;
    height: 150px;
    border-radius: 7px;
    
}

