<div class="container-fluid">
  <div class="row">

      <div class="navIzq col">
        <p (click)="goToPage('directorio')">DIRECTORIO</p>
        <p>ABOUT</p>
      </div>

      <img src="assets/images/madglu-logo.png" alt="logo madglu" class="logo" (click)="goToPage('home')">

      <div class="navDer col" *ngIf="!ngRedux.getState().usuario">
        <p (click)="goToPage('login')" class="login">ENTRAR</p>
      </div>

      <div class="navDer col" *ngIf="ngRedux.getState().usuario">
          <p class="logout">LOGOUT</p>
          <img src="assets/images/avatar.png"  class="panelUsuario">
        </div>

      <i class="fa fa-bars hamburguesa"></i>

  </div>
</div>



