.container-fluid{
    height: 60px;
    background-color: #F4F4F4;
}

.row{
    height: 100%;
}

.col{
   padding:0;
   margin:0;
}

.col p{
    color: #19647E;
    margin: 20px 10px 20px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    text-align: right;
}

.navDer .entrar:hover, .navDer .registrarse:hover {
    color: #28AFB0;
}


.navDer{
    padding-right: 70px;
    cursor: pointer;
}

.navIzq{
    padding-left: 70px;
    cursor: pointer;
}

.navDer .login, .navDer .logout{
    float: right ;
}


.navIzq p{
    float: left ;   
}

.navIzq p:hover{
    color: #28AFB0;   
}

.logo{
    margin-top: 17px;
    height: 27px;
    width: auto;
}


.hamburguesa{
    display: none;
}

.panelUsuario{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #EAA21C;
    float:right;
    margin-top: 10px;
}

/* MEDIA QUERY */

@media (max-width: 768px){
    .logo{
        text-align: left;
        float:left;
        padding-left: 50px;
    }

    .navDer, .navIzq{
        display: none;
    }

    .hamburguesa{
        font-size: 1.9em;
        display:block;
        float: right;
        padding-right: 50px;
        padding-top: 13px;
        cursor: pointer;
    }

}

@media (max-width: 500px){
    .logo{
        padding-left: 30px;
    }

    .hamburguesa{
        padding-right: 30px;
    }
}
