.container-fluid{
    height: 60px;
    background-color: #F4F4F4;
}

.row{
    height: 100%;
}

.col{
   padding:0;
   margin:0;
}

.col p{
    color: #19647E;
    margin: 20px 10px 20px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    text-align: right;
}

.navDer .entrar:hover, .navDer .registrarse:hover {
    color: #28AFB0;
}

.slash{
    margin-left: 0;
    margin-right: 0;
}

.navDer{
    padding-right: 70px;
    cursor: pointer;
}

.navIzq{
    padding-left: 70px;
    cursor: pointer;
}

.navDer p{
    float: right ;
}

.navIzq p{
    float: left ;   
}

.navIzq p:hover{
    color: #28AFB0;   
}

.logo{
    text-align: center;
    padding-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

h1{
    cursor: pointer;
}

.hamburguesa{
    display: none;
}


/* MODAL */

.modal-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    padding-left: 30px;
}

.modal-header{
    border-bottom: 1px solid #F9F9F9;
}

.modal-footer{
    border-top: none;
}

button.close{
    margin-left: 0 !important;
}

form{
    width: 100%;
}

input.form-control{
    width: 100%;
    margin-top: 10px;
    color: #19647E;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 0.8em;
}

button.btn{
    background-color: #28AFB0;
    border: 0;
}

button.btn:hover{
    background-color: rgb(32, 141, 141);
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #19647E;
}



/* MEDIA QUERY */

@media (max-width: 768px){
    .logo{
        text-align: left;
        float:left;
        padding-left: 50px;
    }

    .navDer, .navIzq{
        display: none;
    }

    .hamburguesa{
        font-size: 1.9em;
        display:block;
        float: right;
        padding-right: 50px;
        padding-top: 13px;
        cursor: pointer;
    }

}

@media (max-width: 500px){
    .logo{
        padding-left: 30px;
    }

    .hamburguesa{
        padding-right: 30px;
    }
}
