<div class="container-fluid footer">
  <div class="row">
    <footer class="col">

      <!-- <div class="contactoYTerminos">
          <p id="contacto">Contacto</p>
          <p>|</p>
          <p id="terminos">Términos y condiciones</p>
      </div> -->

      <!-- <div class="socialMedia">
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-google-plus-square"></i>
        <i class="fa fa-facebook-square"></i>
      </div> -->

      <p class="copyright">Madglu &copy; 2018</p>

    </footer>
  </div>
</div>