<div class="col-12 filter">
    <div class="foodTypeFilter">
        <div class="header">
            <img src="../assets/images/icons/icon-food-type.png" class="filterIconFood">
            <h5>Tipos de comida</h5>
        </div>
        <input type="checkbox" name="mediterraneo" value="Mediterraneo"> Mediterránea<br>
        <input type="checkbox" name="indio" value="Indio"> India<br>
        <input type="checkbox" name="italiano" value="Italiano"> Italiana<br>
        <input type="checkbox" name="carne" value="Carne"> Carne<br>
        <input type="checkbox" name="vegetariano" value="Vegetariano"> Vegetariana<br>
        <input type="checkbox" name="vegano" value="Vegano"> Vegana<br>
        <input type="checkbox" name="cafe" value="Cafe"> Café<br>
    </div>
    <div class="areaFilter">
        <div class="header">
            <img src="../assets/images/icons/icon-district.png" class="filterIconDistrict">
            <h5>Zonas</h5>
        </div>
        <input type="checkbox" name="puenteVallecas" value="PuenteVallecas"> Puente de Vallecas<br>
        <input type="checkbox" name="usera" value="Usera"> Usera<br>
        <input type="checkbox" name="vicalvaro" value="Vicalvaro"> Vicalvaro<br>
        <input type="checkbox" name="villaverde" value="Villaverde"> Villaverde<br>
        <input type="checkbox" name="moratalaz" value="Moratalaz"> Moratalaz<br>
        <input type="checkbox" name="arganzuela" value="Arganzuela"> Arganzuela<br>
        <input type="checkbox" name="retiro" value="Retiro"> Retiro<br>
        <input type="checkbox" name="centro" value="Centro"> Centro<br>
        <input type="checkbox" name="carabanchel" value="Carabanchel"> Carabanchel<br>
        <input type="checkbox" name="latina" value="Latina"> Latina<br>
        <input type="checkbox" name="salamanca" value="Salamanca"> Salamanca<br>
    </div>
</div>
