<div class="container-fluid">
  <div class="row">
    <div class="col sectionTitle">
      <h3>NOVEDADES</h3>
    </div>
    <div class="row">
      <div class="col carrusel">
        <div class="col-3 newRestaurant">
          <img src="assets/images/hero1.jpg">
          <div class="infoRestaurant">
            <h4>NOMBRE DEL RESTAURANTE</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae dapibus velit. Ut pretium finibus tempor. Quisque vel mauris id mauris semper dignissim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>