*{
    box-sizing: content-box;
}

.container-fluid .row .sectionTitle{
    margin-top: 30px;
}

.container-fluid .row .sectionTitle h3{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin:0;
}

.container-fluid .row .newRestaurantWrapper{
    height: 300px;
    margin: 30px auto;
    padding:0;
    overflow:hidden
}

.container-fluid .row .newRestaurantWrapper .newRestaurant{
    height:300px;
    background-color: #F9F9F9;
    padding:0;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.container-fluid .row .newRestaurantWrapper .newRestaurant img{
    width:100%;
    height: 50%;
}

.container-fluid .row .newRestaurantWrapper .newRestaurant .infoRestaurant{
   margin: 20px 15px;
   text-align: center;
}

.container-fluid .row .newRestaurantWrapper .newRestaurant .infoRestaurant h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
 }

 .container-fluid .row .newRestaurant .infoRestaurant p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin: 10px 0;
 }


.container-fluid .row .newRestaurant .infoRestaurant .foodTags{
    padding: 5px;
    margin: 0 4px;
    background-color: #28AFB0;
    color:white;
    font-size: 0.7em;
    text-align: center;
    display:inline;
    border-radius: 3px;
}