*{
    padding:0;
}

.sectionTitle{
    margin-top: 30px;
}

.sectionTitle h3{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin:0;
}

.newRestaurantsWrapper{
    height: 270px;
    margin: 30px auto;    
    overflow:hidden;
}

.newRestaurantsWrapper .newRestaurant{
    height:300px;    
    overflow: hidden;
    float: left;
    background-color: #F9F9F9;
    border: 2px solid white;  
}


/* MEDIA QUERY */

@media (max-width:500px){

    .newRestaurantsWrapper{
        height: 300px;
    }
}